.logoImg {
  width: 20%;
  height: 20%;
  margin-right: 10%;
  border-right: 1px;
}

.contForm {
  margin-top: 10%;
}

.logo-color {
  color: #3d5fe8;
}

.loginButton,
.btn-primary {
  margin-right: 5px;
}

.hidden {
  display: none;
}

.error {
  color: red;
}

.success {
  color: green;
}
