.pageWrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.mainContent {
  flex-grow: 1;
  width: calc(100% - 240px);
  padding: 0;
  overflow-y: auto;
  background-color: #242424;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
