#profileContent {
  margin: 0 auto;
  width: 80%;
  margin-top: 25px;
  .profileTitle {
    font-size: 25px;
    margin-left: 5%;
    color: #ef5350;
  }
  .borderLine {
    width: 100%;
    margin-top: 14px;
    border-bottom: 1px solid #e5e5e5;
  }
  .profileContainer {
    display: grid;
    grid-template-columns: 270px 1fr;
    padding: 2%;
  }
  #profilePic {
    display: block;

    height: 150px;
    margin: 6px auto 0;
  }
  #profilePic2 {
    display: block;

    height: 150px;
    margin: 6px auto 0;
  }
  .profileImgTitle {
    text-align: center;
    font-weight: 500;
    font-size: 24px;
  }
  .profileButtonContainer {
    text-align: center;
    .btn-primary {
      color: rgb(70, 70, 70);
      background-color: white;
      background-color: cutom-color;
      border-color: rgb(70, 70, 70);
      border-color: cutom-cor;
      font-weight: bold;
      font-size: 20px;
    }
    .btn-success {
      color: #28a745;
      background-color: white;
      background-color: cutom-color;
      border-color: #28a745;
      border-color: cutom-cor;
      font-weight: bold;
      font-size: 20px;
    }
    .btn-warning {
      color: #ffc107;
      background-color: white;
      background-color: cutom-color;
      border-color: #ffc107;
      border-color: cutom-cor;
      font-weight: bold;
      font-size: 20px;
    }
  }
  .pc1 button {
    margin-top: 20px;
    width: 200px;
  }

  .profileLabel {
    font-size: 20px;
    font-weight: 600;
  }
  .profileEditButton {
    font-size: 20px;
  }

  .profileEditButtonCont {
    .btn {
      padding: 0;
    }
  }
  .profileButtonContainer2 {
    text-align: right;
  }
  .spinner-border {
    display: inline-block;
    width: 5rem;
    height: 5rem;
    vertical-align: text-bottom;
    border: 0.55em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border 0.75s linear infinite;
  }

  .loadingContainer {
    text-align: center;
    margin-top: 80px;
  }
  .circular--square {
    border-radius: 50%;
    width: 150px;
  }
}
